.button {
  display: block;
  padding: 1rem 2.5rem;
  font-weight: 700;
  border: none;
  border-radius: 1.75rem;
  cursor: pointer;
  transition: 0.15s;
  
  &--full-width {
    width: 100%;
    
    @include breakpoint(medium) {
      width: unset;
    }
  }
  
  &--cyan {
    color: $clr-white;
    background-color: $clr-primary-color-moderate-cyan;
    
    &:hover {
      background-color: $clr-primary-color-dark-cyan;
    }
    
    &:disabled {
      background-color: #2F2F2F; // TODO: Set the color in scss
      cursor: unset;
    }
  }
}