.header {
  position: relative;
  padding: 2rem 0 15.5rem;
  background: url('/images/image-hero-mobile.jpg') no-repeat top;
  background-size: cover;
  margin-bottom: -3rem;
  
  @include breakpoint(medium) {
    background: url('/images/image-hero-desktop.jpg') no-repeat top;
    background-size: cover;
    padding: 2rem 0 25.5rem;
  }
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: $clr-gradient-hero;
    z-index: 0;
  }
  
  &__content {
    grid-area: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__logo {
    z-index: 2;
  }
}