.product {
  grid-area: 1/2;
  justify-self: center;
  display: grid;
  gap: 1.5rem;
  bottom: 2.5rem;
  max-width: 55rem;
  margin-bottom: 6rem;
  
  &__details {
    display: grid;
    gap: 1.5rem;
    position: relative;
    padding: 3.25rem 1.5rem 2.5rem;
    text-align: center;
    background-color: $clr-white;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.05);

    @include breakpoint(medium) {
      gap: 2.5rem;
      padding: 3.5rem 3rem 3rem;
    }
  }
  
  &__product-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  &__details-text {
    display: grid;
    gap: 1rem;
  }
  
  &__details-buttons {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 0.5rem;
    
    @include breakpoint(medium) {
      grid-template-columns: max-content max-content;
      justify-content: space-between;
    }
  }
  
  &__backings {
    display: grid;
    gap: 1.5rem;
    padding: 2.5rem 2rem;
    background-color: $clr-white;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    
    @include breakpoint(medium) {
      grid-template-columns: 1fr max-content 1fr max-content 1fr;
      justify-content: space-between;
      padding: 3rem;
    }
  }
  
  &__backings-stat {
    display: grid;
    gap: 0.5rem;
    text-align: center;
    font-size: 0.9375rem;

    @include breakpoint(medium) {
      text-align: left;
    }
  }
  
  &__backings-num {
    font-size: 2rem;
    font-weight: 700;
    color: $clr-black;
    line-height: normal;
  }
  
  &__backings-divider {
    justify-self: center;
    opacity: 0.15;
    width: 30%;
    
    @include breakpoint(medium) {
      max-width: 1px;
    }
  }
  
  &__about{
    display: grid;
    gap: 1.5rem;
    padding: 2.5rem 2rem;
    background-color: $clr-white;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    
    @include breakpoint(medium) {
      gap: 2.5rem;
      padding: 3rem;
    }
  }
  
  &__about-text {
    display: grid;
    gap: 1.5rem;

    @include breakpoint(medium) {
      gap: 2rem;
    }
  }
  
  &__about-body-text {
    white-space: pre-wrap;
  }

  &__rewards {
    display: grid;
    gap: 1.5rem;
  }
  
  &__reward {
    display: grid;
    justify-items: flex-start;
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    
    @include breakpoint(medium) {
      gap: 2rem;
    }
  }
  
  &__reward-title {
    display: grid;
    gap: 0.5rem;

    @include breakpoint(medium) {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
  
  &__pledge {
    font-size: 0.9375rem;
    font-weight: 500;
    color: $clr-primary-color-moderate-cyan;
  }
  
  &__reward-select {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
    @include breakpoint(medium) {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }
  
  &__reward-stock {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  &__reward-quantity {
    font-size: 2rem;
    font-weight: 700;
    color: $clr-black;
  }
}