// Colors

// Main Colors

// Primary Colors
$clr-primary-color-moderate-cyan: hsl(176, 50%, 47%);
$clr-primary-color-dark-cyan: hsl(176, 72%, 28%);

// Shadows

// Gradients
$clr-gradient-hero: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.00) 100%);

// Neutrals
$clr-white: hsl(0, 0%, 100%);
$clr-off-white: hsla(0, 0%, 98%);
$clr-dark-gray: hsl(0, 0%, 48%);
$clr-black: hsl(0, 0%, 0%);
$clr-darken: hsla(0, 0%, 0%, 0.50);
